body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #222;
  font-family: "Open Sans", sans-serif;
  font-size: 120%;
}

.card {
  background: #e4b0a7;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  box-shadow: 21px 19px 40px 6px rgba(0, 0, 0, 0.69);
  margin: 1em;
  color: white;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0.5rem;
  border-radius: 50%;
  border: white;
  height: 46px;
  width: 46px;
  transition: 0.5s;
  outline: none;
}

input[type=text i] {
  border: none;
  outline: none;
  padding: 0.8em;
  border-radius: 18px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  background-color: transparent;
  width: calc(100% - 100px);
  border: solid 0.5px;
}

button:hover {
  background: transparent;
  cursor: pointer;
  border: solid 0.5px white;
}

h1 {
  margin: 0;
}

.description {
  text-transform: capitalize;
}

.flex {
  display: flex;
  justify-content: space-between;
}

img {
  width: 65px;
}

.weather {
  padding: 15px;
}